# Orientation configuration
#
# set this to 'codeschool.com:pluralsight.com' to only authorize
# emails from these two domains to sign in to Orientation
#   APP_DOMAIN should be something like compliments.dev
#   EMAIL_WHITELIST should be the email domain name
#
# Don't include the port in this domain setting.
APP_DOMAIN=
EMAIL_WHITELIST=

# Google OAuth 2
#
# Create a new project on Google's API console here: https://console.developers.google.com/
# Then enable the Google+ and Contacts APIs for this project.
#
# e.g. 831a244758x7.apps.googleusercontent.com
GOOGLE_KEY=
# e.g. 5Ac5Fcigyty0tRO6b4c4Zh4E
GOOGLE_SECRET=


# Sendgrid
# Get this from heroku - you'll need access to the app there
#
SENDGRID_USERNAME=
SENDGRID_PASSWORD=

# Slack
# Check the production variables for these
SLACK_INCOMING_WEBHOOK=
SLACK_TOKEN=

# For local environment, use #testchannel + grab the ID by copying the "add app"
# link - it's the key at the end of the url
SLACK_COMPLIMENTS_CHANNEL_ID=
SLACK_COMPLIMENTS_CHANNEL_NAME=

SLACK_QUOTES_CHANNEL_ID=
SLACK_QUOTES_CHANNEL_NAME=
