= simple_form_for @compliment, html: { class: 'form' } do |f|

  %fieldset.form-field
    = f.association :complimentee, input_html: { class: 'form-select' }, label_html: { class: 'form-label' }
  %fieldset.form-field
    = f.input :text, as: :text, input_html: { class: 'form-input', rows: '5' }, label_html: { class: 'form-label' }

  .form-group
    = f.submit class: "btn"
