= CSV.generate(headers: true) do |csv|
  - csv << @headers
  - @compliments.each do |compliment|
    - csv << [compliment.complimenter, compliment.complimentee, compliment.text.gsub(",", "，"), compliment.created_at.to_date]
