// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card
//   / ...
//
// *************************************

.card
  background-color: $c-primary
  border-radius: $b-borderRadius
  padding: $b-space
  position: relative

  .quotes &
    background-color: map-get($quotes, 'primary')
