// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  height: 70px;
  line-height: 40px;

  img {
    border-radius: 20px;
  }
}

.img-avatar {
  border-radius: 50%;
}
.compliment {
  padding: 20px;

  .compliment-text {
    position: relative;
    color: white;
    background-color: lighten($brand-primary, 10%);
    padding: 20px;
    margin: 20px 0 20px 60px;
    border-radius: 0 20px 20px;
    min-height: 50px;

    &:before {
      position: absolute;
      content: " ";
      left: -10px;
      width: 10px;
      height: 10px;
      /* border-top: 10px solid #5094ce; */
      /* border-left: 10px solid transparent; */
      /* border-right: 10px solid #5094ce; */
      top: 0;
      /* border-radius: 50%; */
      border-top-left-radius: 10px 5px;
      background-color: #5094ce;
    }

    &:after {
      content: " ";
      position: absolute;
      background-color: white;
      left: -20px;
      top: 0;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      top: 5px;
    }

    .compliment-date {
      position: absolute;
      top: -1.5em;
      left: 0;
    }
    .complimenter-image {
      position: absolute;
      top: 0;
      left: -60px;
      z-index: 2;
    }

    .complimentee-image {
      position: absolute;
      bottom: -25px;
      right: 0;
    }

    .compliment-actions {
      position: absolute;
      bottom: -1.5em;
      left: 0;
    }
  }
}
