// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  height: 70px;
  line-height: 40px;

  img {
    border-radius: 20px;
  }
}

.img-avatar {
  border-radius: 50%;
}
